/*--------------------contacto---------------------*/
.contactMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    .form{
        margin: 10px;
        border-radius: 8px; 
        background-color: $rosaSuave;
        display: flex;
        flex-direction: column;
        transition: all 0.2s;
        &:hover{
            box-shadow: 0px 5px 16px 3px $sombraClara;
            -webkit-box-shadow: 0px 5px 16px 3px $sombraClara;
            -moz-box-shadow: 0px 5px 16px 3px $sombraClara;
            transform: translateY(-1px);
        }
        .fieldset{
            display: flex;
            flex-direction: column;
            align-items: center;
            legend {
                padding: 5px;
                text-align: center;
            }
            /*------MAP-GET------*/
            .nombre-apellido{
                padding: 8px;
                input{
                    outline: map-get($inputs, outline );
                    border-radius: map-get($inputs, b-radius );
                    border: map-get($inputs, border );
                    background-color: map-get($inputs, bckg-color );
                    padding: map-get($inputs, padding );
                }
            }
            .email-telefono{
                padding: 8px;
                input{
                    outline: map-get($inputs, outline );
                    border-radius: map-get($inputs, b-radius );
                    border: map-get($inputs, border );
                    background-color: map-get($inputs, bckg-color );
                    padding: map-get($inputs, padding );
                }
            }
            .dropdown{
                outline: none;
                padding: 8px;
                width: 100%;
                border-radius: 5px;
                border: 0;
            }
            .mensaje textarea{
                outline: none;
                width: 100%;
                padding: 8px;
                border: 0;
                border-radius: 5px;
            }
            .checkbox{
                margin-top: 10px;
                padding: 5px 15px;
                border-radius: 5px;
                background-color: rgb(249, 157, 182);
            }
        }
        .botonesForm{
            margin-top: 5px;
            padding: 10px;
            display: flex;
            flex-direction: row-reverse;
            /*--------EXTEND-------*/
            .btnForm{
                width: 80px;
                margin: 5px;
                padding: 5px;
                font-weight: 600;
                border-radius: 5px;
                border: none;
            }
            .submit{
                @extend .btnForm;
                background-color: $rosaFuerte;
                color: white;
                
            }
            .reset{
                @extend .btnForm;
                background-color: $rosaSuave;
                color: $rosaFuerte;
                &:hover{
                    background-color: rgb(248, 186, 203);
                }
            }
        }

    }
}






