/*----------------header-------------------*/

/*-------MIXIN-------*/
@mixin headerH($txtAlign, $padding) {
    text-align: $txtAlign;
    padding: $padding;
}

.header{
    background-color: $rosaFuerte;
    .headerH1{
        @include headerH(center,20px 0px 2px 0px)
    }
    .headerH2{
        @include headerH(center,4px 0px 12px 0px)
    }
}
