@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$rosaClaro: #FFCDD4;
$rosaFucsia: rgb(238, 98, 138);
$sombraGris: rgba(142,112,112,0.75);
@import "navbar";
@import "header";
@import "promociones";
@import "servicios";
@import "quienSoy";
@import "ubicacion";
@import "contacto";
@import "footer";

@media(max-width:960px){
    .serviciosContainer{
        border: 10px solid black;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        .servicio{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: auto auto;
            grid-template-areas:"srvcTitle   srvcTitle"
                                "srvcImgCont srvcImgCont"
                                "srvcTxt     srvcTxt";
            .srvcTitle{
                grid-area: srvcTitle;
                padding: 10px 0px 0px 0px;
                text-align: center;
                h3{
                    font-size: 34px;
                    margin: 0;
                }
            }
            .srvcImgCont{
                grid-area: srvcImgCont;
                border-radius: 8px;
                padding: 10px;
                .servicioImg{
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                    padding: 10px;
                }
            }
            .srvcTxt{
                grid-area: srvcTxt;
                padding: 8px 12px;
                line-height: 22px;
                text-align: center;
                justify-content: center;
            }
        }
    }
    .quienSoyCont{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        .quienSoyTxt{
            width: 90%;
            margin: 5%;
            margin-top: 10px;
        }
        .fotoPersonalCont{
            width: 90%;
            margin: 5%;
            margin-bottom: 0;
        }
    }
}

@media(max-width:580px){
    .servicio{
        flex-direction: column;
    }
}